.team-container {
  display: flex;
  flex-wrap: wrap;
  /*height: 828px;*/
  margin-top: 34px;
}
.team-title {
  margin-top: 20px;
}
.team-block {
  width: 252px;
  height: 420px;
  margin-left: 16px;
  text-align: center;
  padding-right: 30px;
}
.team__text {
  width: 262px;
}
.spec {
  font-size: 14px;
  line-height: 24px;
}
.partners {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  width: 900px;
  height: 180px;
  align-content: space-between;
  margin-left: 63px;
  margin-bottom: 100px;

}
.partners__site {
  width: 180px;
  height: 120px;
  margin-right: 120px;
}